@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.bellButton {
  @include button-reset;
  @include flex-center;
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: var(--radius-full);
  transition: background var(--transition-fast);
  
  &:hover {
    background: var(--bg-tertiary);
  }
}

.bellIcon {
  font-size: var(--text-xl);
  color: var(--text-secondary);
  transition: color var(--transition-fast);
  
  .bellButton:hover & {
    color: var(--text-primary);
  }
}


